.logo {
	display: flex;
	align-items: center;
	padding: 1rem;

	img {
		width: 6em;
		height: 6em;
	}

	h1 {
		font-size: 4rem;
	}

	#logo__wordez {
		color: #2C6140;
	}
}

h2 {
	text-align: center;
}
